:root {
  /* 基本的な色とスタイルの定義 */
  font-size: calc(10px + 1vmin);
  /* ビューポートに応じたフォントサイズ */
  --primary: hsl(45, 80%, 60%);
  --darkGrey: #333344;
  --mediumGrey: #557777;
  --softGrey: #9a97a8;
  --softTint: rgba(0, 0, 0, 0.2);
  --bounce: 0.3s cubic-bezier(0.3, -0.3, 0.1, 1.4);
  /* バウンス効果 */
  --ease: 0.5s cubic-bezier(0.3, 0.1, 0.3, 1);
  /* イージング効果 */
  --length: 2;
  --safe-top: constant(safe-area-inset-top, env(safe-area-inset-top));
  --safe-right: constant(safe-area-inset-right, env(safe-area-inset-right));
  --safe-bottom: constant(safe-area-inset-bottom, env(safe-area-inset-bottom));
  --safe-left: constant(safe-area-inset-left, env(safe-area-inset-left));
}

/* 基本的な要素のリセット */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kosugi Maru";
}

.kosugi-maru-regular {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
}

.pZero {
  padding: 0 !important;
}

.container>.innerDiv {
  flex: 1 1 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 影をつける */
  border-radius: 8px;
  /* 角を丸くする */
}

.map-img-container {
  display: flex;
  justify-content: center;
}

.map-img {
  width: 50%;
}

.jp_map {
  transform: scale(1.09);
  overflow: hidden;
}

.locationDesc{
  text-align: center;
  font-size: 12px;
  color: #98989D;
}

.rangeText{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.rangeInput {
  width: 70%;
  accent-color: #34c759;
  /* range入力のアクセントカラー */
}

.no-linkStyle {
  text-decoration: none;
  color: inherit;
}

.shopList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5vh;
  justify-content: center;
}

.historyTable {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5vh;
  background-color: #f4f4f4;
}

.shopTable {
  width: 100%;
  background-color: #f4f4f4;
}

.shopHistories {
  padding: 1vh;
  margin: 1vh 0;
  border: 1px solid #000;
  border-radius: 10px;
}

/* 店舗情報のスタイル */
.shop {
  width: 100%;
  height: 340px;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shop-content {
  width: 100%;
  padding: 10px;
}

.shop-name {
  font-weight: bold;
  color: #000;
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shop-access {
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  /* Flexbox レイアウトを生成 (WebKit ブラウザ対応) */
  display: -moz-box;
  /* Mozilla ブラウザ対応 */
  display: -ms-flexbox;
  /* IE10 以上に対応 */
  display: box;
  /* 標準レイアウト方式 */
  -webkit-line-clamp: 2;
  /* 2行まで表示 (WebKit ブラウザのみ対応) */
  -webkit-box-orient: vertical;
  /* テキストを縦方向に配置 */
  overflow: hidden;
  /* テキストが溢れる場合に隠す */
  text-overflow: ellipsis;
  /* テキストが溢れる場合に省略記号を表示 */
  word-break: break-word;
  /* 単語を途中で切って改行 */
  white-space: nowrap;
}

.shop-link {
  display: inline-block;
  width: 45%;
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  /* フェードインと上方向に移動するアニメーション */
}

.shop-link.fade-in {
  opacity: 1;
}

/* 画像のスタイル */
.shop-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  /* 画像をボックスにフィット */
}

.shop-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.shop-tag {
  color: #007aff;
  font-weight: bold;
  font-size: 14px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* ロケーションループ */
.location-container {
  display: flex;
  align-items: center;
}


/* ロケーション入力フィールド */
.locationInput {
  width: 80%;
  padding: 10px;
  border: 1px #000 solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* ロケーションボタン */
.getLocationBtn {
  width: 20%;
  padding: 10px;
  border: 1px #000 solid;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  cursor: pointer;
}

/* ラジオボタンのグループ */
.radio-group {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.displayNone,
.radio-group input[type="radio"] {
  display: none;
}

/* ラジオボタンのラベル */
.radio-group label {
  cursor: pointer;
  margin: 5px 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.radio-group input[type="radio"]:checked+label {
  font-weight: bold;
}

/* 店舗一覧のヘッダー */
.shopHeader {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: inherit;
  margin-bottom: 2.5vh;
}

.shopHeaderThumCell {
  width: 120px;
  max-width: 120px;
  flex: 1;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.shopHeaderCell {
  padding: 12px;
  flex: 1;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.areaDiv {
  display: none;
  grid-template-columns: 1fr;
  gap: 1vw;
  justify-content: center;
  margin: 0 1vh;
  margin-top: 5vh;
}

.button-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.transparentDiv {
  visibility: hidden;
  flex: 1;
}

.middleBtn {
  width: 100%;
  height: 5vh;
  line-height: 5vh;
  font-size: 2.5vh !important;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  padding: 2.5px 0px 2.5px 5px;
}

.select {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.select-button {
  border: 0;
  /* ボーダーなし */
  border-radius: 1vh;
  /* ボーダー半径を1vhに設定 */
  flex: 1;
  /* フレックス項目としての成長を設定 */
}

.historyList {
  display: block;
  font-size: 2.5vh !important;
  font-weight: bold;
  line-height: 5vh;
  margin-top: 2.5vh;
  text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px -2px, #fff 2px -2px, #fff -2px -2px, #fff 0px 2px, #fff 2px 2px, #fff -2px 2px;
}

.info-message {
  display: block;
  font-size: 2vh !important;
  color: #d70015;
  font-weight: bold;
  line-height: 5vh;
  text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px -2px, #fff 2px -2px, #fff -2px -2px, #fff 0px 2px, #fff 2px 2px, #fff -2px 2px;
}

/* タブのコンテナ */
.tab-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.tabs {
  display: flex;
  position: relative;
  border-radius: 0 !important;
}

/* タブボタン */
.tab {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 1.5vh;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
}

/* タブのスライダー */
.tab-slider {
  height: 3px;
  background-color: #dee2e6;
  position: absolute;
  border: 3px;
  border-radius: 100px;
  bottom: 0;
  transition: left 0.3s ease, width 0.3s ease;
}

/* タブのコンテンツ */
.tab-content {
  width: 100%;
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button,
.pagination span {
  margin: 0 5px;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination .current {
  font-weight: bold;
  text-align: center;
}

.pageBtn {
  width: 60px;
  height: 36px;
}

.loading-screen {
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background: #fff;
}

.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-img {
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 1vh;
  width: 640px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.3s ease-out;
}

.modal-content img {
  border-radius: 5px;
}

/* レスポンシブデザインのスタイル */
@media (max-width: 768px) {
  /* iPhoneやGalaxyなどのスマホ用 */

  .container {
    padding: 5px;
  }

  .modal-content {
    width: 90%;
  }

  .shop-link {
    display: inline;
    width: 100%;
    /* フェードインと上方向に移動するアニメーション */
  }

  .transparentDiv {
    display: block;
    margin: 1vw;
    visibility: hidden;
    flex: 1;
  }

  .historyTable,
  .tab-container {
    max-width: calc(100vw - 20px);
  }

  .middleBtn {
    width: 40vw;
    height: 3vh;
    line-height: 3vh;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    margin: 1vw 1vw;
    font-size: 1.5vh !important;
    padding: 2.5px 0px 2.5px 5px;
  }

  .pagination button,
  .pagination span {
    margin: 0 1px;
    padding: 2.5px 10px;
  }
}

/* FHD用 */
@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
    /* 4K以上の解像度 */
  }
}

@media (max-width: 2340px) and (min-width: 1080px) {
  .container {
    padding: 20px;
    /* FHDからUHDまでのデバイス */
  }
}

@media (max-width: 2556px) and (min-width: 1179px) {
  .container {
    padding: 15px;
  }
}

/* タブレット用 */
@media (max-width: 1024px) {
  .container {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .jp_map {
    transform: scale(1.03);
    overflow: hidden;
  }
}