:root {
	font-size: calc(10px + 1vmin);
	--primary: hsl(45, 80%, 60%);
	--darkGrey: #333344;
	--mediumGrey: #557777;
	--softGrey: #9a97a8;
	--softTint: rgba(0, 0, 0, 0.2);
	--bounce: 0.3s cubic-bezier(0.3, -0.3, 0.1, 1.4);
	--ease: 0.5s cubic-bezier(0.3, 0.1, 0.3, 1);
	--length: 2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center content horizontally */
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
}

.container > div {
  flex: 1 1 100%; /* Full width for single column layout */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.shopHeader {
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
  
  .shopHeaderThumCell {
    width: 120px;
    max-width: 120px;
    flex: 1;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .shopHeaderCell {
    padding: 12px;
    flex: 1;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

.shop-body {
  display: flex;
  flex-direction: column;
}

.shop-row {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
}

.shop-img-cell img {
  display: block;
  text-align: center;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
}

.shop-img-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    max-width: 120px;
    height: 120px;
    max-height: 120px;
    flex: 1;
    overflow: hidden;
    border-right: 1px solid #ddd;
    text-overflow: ellipsis;
  }

.shop-row:nth-child(even) {
  background-color: #f9f9f9;
}

.shop-cell {
  padding: 12px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #ddd;
}

.shop-cell[data-label]::before {
  content: attr(data-label);
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

#pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#pagination button,
#pagination span {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  cursor: pointer;
}

#pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

#pagination .current {
  font-weight: bold;
  text-align: center;
}

.pageBtn {
  width: 60px;
  height: 36px;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* iPhoneとGalaxy23 */
  #shopTable {
    display: block;
  }

  .shop-row {
    display: block;
    margin-bottom: 10px;
  }

  .shop-cell {
    display: block;
    text-align: right;
    position: relative;
    padding-left: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shop-cell::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
    background-color: #f4f4f4;
    color: #333;
    border-right: 1px solid #ddd;
  }

  .shop-cell:last-child {
    border-bottom: 0;
  }
}

/* FHD用 */
@media (min-width: 1920px) {
  .container {
    max-width: 1600px; /* 4k以上 */
  }
}

@media (max-width: 2340px) and (min-width: 1080px) {
  .container {
    padding: 15px; /* FHdからUHD */
  }
}

@media (max-width: 2556px) and (min-width: 1179px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
}
